*.dylib
*.a
.DS_Store
.vscode/
__pycache__/
Firmware/_logs/*.log
Firmware/_logs/*.html
Firmware/_data_control/*
!Firmware/_data_control/iq_track_lock
Firmware/_test_vectors/*.iq
Firmware/_daq_core/*.out
Firmware/_daq_core/*.o
Firmware/_daq_core/*.a
Firmware/_testing/test_logs/*.log
Firmware/_testing/test_logs/*.html
